@charset "utf-8";

*{margin: 0; padding: 0; font-family: 맑은 고딕; box-sizing: border-box;}
body{background: #fff; color: #333;}
ul{list-style: none;}
a{text-decoration: none; color: inherit;}
img{max-width: 100%; vertical-align: top;}
table{width: 100%; border-collapse: collapse;}
button{cursor: pointer;}
.wrap{min-width: 1500px; min-height: 800px; height: 900px;}

.top{height: 800px; width: 100%; display: flex;}
header{width: 200px; background: #ebeaea; }
header h1 a{display: block; height: 100%; padding: 50px 18px; margin-left: 5px;}
nav{width: 160px; margin: 10px 17px;}
nav>ul>li>a{display: block; width: 160px; height: 40px; line-height: 40px; padding-left: 18px; font-size: 17px; color: #797373;}
nav>ul>li:hover>a,
nav>ul>li>a:focus{background: linear-gradient(to right, #303030, #555454c5); color: #fff; border-radius: 20px 0 0 20px; transition: 0.7s; overflow: hidden;}
nav li{position: relative;}
.sub{z-index: 66; display: none; position: absolute; top: 0; left: 160px; width: 100%; background: #555454c5;}
.sub li a{display: block; width: 160px; height: 40px; line-height: 40px; padding-left: 30px; font-size: 14px; color: #eeecec;}
.sub li a:hover,
.sub li a:focus{transition: 0.7s; background: #55545491; color: #fff;}
.spot{color: #797373; font-size: 13px;}
.spot ul{display: flex; gap: 10px; justify-content: center;}
.spot li{border-right: 1px solid #797373; padding-right: 10px;}
.spot li:last-child{border: none;}
.spot li:hover,
.spot li a:focus{opacity: 0.7;}

.con{width: 400px; padding: 7px; background: #ebeaea;}
.con article{height: 300px; margin-top: 7px;}
.con article:nth-child(1){height: 170px; margin-top: 0;}
.c1{padding-top: 10px;}
.c1 a{display: flex; padding-top: 28px; align-items: center;}
.c1 .bp{width: 120px; height: 120px; padding: 3px;}
.c1 img{border-radius: 10px;}
.c1 .bt{font-size: 13px; padding-left: 8px;}
.bt h3{font-size: 17px;}
.bt p{padding-top: 7px;}
.c1 .ba{width: 40px; height:40px; margin-left: 10px; filter: opacity(0.6);}

.con h4{width: 150px; height: 38px; line-height: 40px; padding-left: 20px; background: #555454; color: #f5f5f5; border-radius: 20px 20px 0 0;}
.c2{padding-top: 28px;}
.c2 table, .c3 ul{border-top: 2px solid #555454;}
.c2 tr:nth-child(odd){background: #f5f5f5;}
.c2 th{text-align: left; font-size: 15px;}
.c2 td{font-size: 14px; padding-right: 10px;}
.c2 a{display: block; width: 90%; padding: 15px 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.c2 tr:hover,
.c2 tr a:focus{opacity: 0.7;}

.c3 ul{display: flex; gap: 10px; padding: 20px 10px; justify-content: center;}
.c3 li{text-align: center;}
.c3 p{padding-top: 8px; font-size: 14px; font-weight: bold;}
.c3 img{border-radius: 20px;}
.c3 li:hover img,
.c3 li a:focus img{opacity: 0.7;}

.slide{width: calc(100% - 600px); position: relative; overflow: hidden;}
.slide ul li.s1{background: url(../img/s1.jpg) no-repeat center/cover;}
.slide ul li.s2{background: url(../img/s2.jpg) no-repeat center/cover;}
.slide ul li.s3{background: url(../img/s3.jpg) no-repeat center/cover;}
.slide ul{position: absolute; top: 0; left: 0; width: 100%; height: 2400px;}
.slide li{position: relative; width: 100%; height: 800px;}
.slide a{display: block; height: 100%;}
.slide .st{position: absolute; right: 80px; top: 30%; font-size: 30px; color: #fff; text-shadow: 2px 2px 10px #d4d2d2;}
.slide p{margin-left: 55px;}

footer{height: 100px; width: 100%; background: #303030; display: flex; color: #eeecec; text-align: center; align-items: center;}
.f1 a{display: block; width: 200px; height: 100px; padding-top: 30px; filter: grayscale(10);}
.f2{width: calc(100% - 500px); padding-left: 150px;}
.f3 {width: 300px;}
.f3 ul{display: flex; gap: 28px; justify-content: center;}
.f3 li a{display: block; width: 30px; height: 30px; line-height: 30px; padding-top: 10px; border-radius: 50%;}
.f3 li:nth-child(1):hover a,
.f3 li:nth-child(1) a:focus{background: rgba(0, 0, 255, 0.582); transition: 1s;}
.f3 li:nth-child(2):hover a,
.f3 li:nth-child(2) a:focus{background: rgba(9, 255, 0, 0.582); transition: 1s;}
.f3 li:nth-child(3):hover a,
.f3 li:nth-child(3) a:focus{background: rgba(255, 0, 0, 0.582); transition: 1s;}

.pop{position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99; display: none;}
.ppb{width: 400px; height: 200px; background: #fff; border: 7px solid #303030; border-radius: 10px; padding: 20px; margin: 150px auto;}
.but{text-align: right; margin-top: 30px;}
button{border: none; padding: 7px; border-radius: 10px; background: #303030; color: #fff;}